env:
  node: true
  mocha: true
  es6: true

rules:
  comma-style: [2, "last"]
  default-case: 2
  func-style: [2, "declaration"]
  no-floating-decimal: 2
  no-nested-ternary: 2
  no-undefined: 2
  radix: 2
  keyword-spacing: [2, { "before": true, "after": true}]
  space-before-blocks: 2
  spaced-comment: [2, "always", { "exceptions": ["-"]}]
  valid-jsdoc: [2, { prefer: { "return": "returns"}}]
  wrap-iife: 2
  quotes: [2, "single"]
  curly: [2, "all"]
